page-dashboard {
.center-div{
    justify-content: center;
    display: flex;
    margin-left: -31px;
}
.grid
{
   display: grid;

}
.img-style
{
    height: 40px;
    margin-left: -36%;
    margin-top: 5px;  
}
.navbar-icon{
    height: 19px;
    margin-top: 10px;
}
.segment-class{
    background-color:rgba(172, 147, 147, 0);
    width: 100%;
    color:#ffff
  
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    opacity: 1;
    border-color: transparent;
}
.divider-seg{
    width: 11px;
    background-color: #fff;
    transform: rotate(90deg);
}
.seg-tab{
    // color: #ffff !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    text-transform: none !important;
}
button.segment-activated {
    opacity: 1;
    color: #ffff;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #000000;
    opacity: 1;
    color: #fff !important;
}
.segment-button {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #eeeeee !important;
}

.category-list
{
    
    width: 100%;
    background-color: #E1E1E1;
    height: 120px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.head-p{
    font-size: 1.3rem;
    color: grey;
    margin-left: 5px;

}
.list-div{
    position: ABSOLUTE;
    width: 100%;
    top: 0px;
}
.prop-see{
    text-align: end;
    font-size: 1.3rem;
    color: grey;
}
.span-head{
    font-weight: bold;
    font-size: 1.6rem !important;
    color: #000;
}
.social-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;

    width: 91%;
    border-bottom: .1px solid #d4d4d4;

}
.image-tag
{
    height: 190px;
   
    width: 100%;
    justify-content: center;
    display: flex;
}
.header1{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: -8px;

}
.img-post{
    height: 18px;
    margin-left: -8px;
}
.post-img{
    width: 100%;
    display: flex;
    justify-content: CENTER;
}
.img-content{
    margin-left: 5px;
    position: absolute;
    height: 190px;
    width: 89%
}
.cat-icon{
    height: 29px;
    margin-right: 4px;
   
}
.cat-icon1{
    height: 29px;
    margin: 8px 8px;
   
}
.count-like{
    margin: 6px 9px 6px -9px;
    font-size: 1.4rem;
}
.cols-style{
    font-size: 3rem;
    margin: 6px -1px;
    color: #fff;
}
.cat-div
{
    text-align: end;
    padding: 14px; 
}
.detail-grid
{
    display:grid ;
    grid-template-columns: 1fr 100px 60px;
    grid-template-rows: 74px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.detail-grid1
{
    display:grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 74px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color:#fff
}
.detail-grid:nth-child(even) {
    
    color: #fff;
    font-size: 1.3rem;
  }
  .detail-div{
  
    
   
  }
  .recent-upload{
    position: absolute;
    width: 100%;
    top: 109px;
  }
  .author-box{
    // position: absolute;
    // bottom: 0px;
    // margin-left: 27px;
    position: absolute;
    bottom: 0px;
    margin-left: 32px;
    /* margin-top: -2px; */
    margin-bottom: 4px; 
}
  .category-style{
    border-radius: 31px;
    width: 68%;
    height: 44px;
  }
  .userimage{
    height: 30px;
    width: 30px;
    border-radius: 35px;
  }
  .userimage1{
    margin-top: 2px;
    margin-left: -5px;
    width: 30px;
    width: 30px;
    border-radius: 35px;
  }
  .userpic{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
  }
  .div-box{
    display: flex;
    justify-content: center;
  }
  .img-box{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
    font-size: 19px !important;
 }
 .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
    height: 23px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 9px !important;
 }
 .music-type{
    height: 3px;
    margin-top: 0px;
    margin-left: 6px;
 }
 .title-type{
    margin-left: 6px;
    margin-top: 17px;
 }
 .title-type1{
    margin-left: 6px;
    margin-top: 14px;
 }
 .image-box
 {

 }
 .star-div{
    margin-top: -18px;
    margin-left: 4px;
 }
 .img-cat
 {
     height:45px;
 }
 .cat-types{
    margin-top: 1px;
    margin-left: 6px;
    font-size: 1.1rem;
 }
 .col-cat{
    text-align: center;
 }
 .cat-style{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: CENTER;
}
 
}
